<mat-sidenav-container class='app-drawer-container' fullscreen>
    <mat-sidenav #sidenav mode="side">
      
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']" routerLinkActive="mat-accent">Dashboard</a>
        <a mat-list-item [routerLink]="['/body1']" routerLinkActive="mat-accent">Invoice Demo Add</a>
        <a mat-list-item [routerLink]="['/body2']" routerLinkActive="mat-accent">Invoice Demo List</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <button mat-button (click)="sidenav.toggle()">Main content</button> -->
      <router-outlet></router-outlet>
      <app-footer></app-footer>      
    </mat-sidenav-content>    
  </mat-sidenav-container>
 
  